doctype html
head
   title user page
   title= title
   script(type='text/javascript' src='javascripts/jquery-1.11.3.min.js')
   script(type='text/javascript' src='javascripts/bootstrap.min.js')
   script(type='text/javascript' src='assets/combined.js')
   link(rel="stylesheet", href='/javascripts/bootstrap.min.css')
   link(rel='stylesheet', href='/stylesheets/combined.min.css')


body
   div#navbar(class="navbar-collapse collapse")
      ul(class="nav navbar-nav")
         li#display(class="active")
            a(href="#") Display
         li#update
            a(href="#") Update
         li#remove
            a(href="#") Remove
   - if (flash && flash.message && flash.message.length > 0)
   p.alert.alert-success= flash.message

   #printUsers
