body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;

}

label {
  width: 150px;
  padding: 0 10px;
}

.alert {
  width: 300px;

}

#navbar {
  padding: 0;
}

.nav li{
  width: 100px;
  text-align: center;
}

.submission{
  width: 150px;
  border-radius: 4px;
}

td {
  width: 150px;
}
table{
  margin: 5px;
}